<ion-header [translucent]="true">
  <ion-toolbar class="head">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #ffffff;"></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">Favoritos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngFor="let pelicula of favoritoGenero">
    <ion-grid *ngIf="pelicula.pelis.length > 0">
      <ion-row color="medium">
        <ion-col>
          <ion-card class="btns" shape="round">    
            <h3 align="center" style="color: rgb(250, 250, 246);">{{ pelicula.genero }}</h3>
          </ion-card>         
        </ion-col>
      </ion-row>
      <app-slideshow-poster [peliculas]="pelicula.pelis"></app-slideshow-poster>
    </ion-grid>
  </div>
</ion-content>