<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content class="menu-side">
        <ion-icon name="close" style="color: #ffffff; margin-top: 5px; margin-left: 5px; zoom:2.0;" (click)="closeMenu()"></ion-icon>          
          <div align="center">
              <img src="https://www.themoviedb.org/apple-touch-icon.png">
          </div>          
          <hr>      
        <ion-list id="inbox-list">     
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label style="color: #ffffff">{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>        
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
