<ion-header [translucent]="true">
  <ion-toolbar  class="head">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #ffffff;"></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">Buscador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="head">
    <ion-searchbar placeholder="Buscar película"
                   animated
                   debounce="700"
                   [value]="textoBuscar"
                   (ionChange)="buscar( $event )"
                   ></ion-searchbar>
    </div>

  <ion-grid *ngIf="buscando">
    <ion-row>
      <ion-col text-center>
        <ion-spinner name="crescent"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-list *ngIf="peliculas.length === 0">
    <ion-list-header class="head">
      <ion-label color="light">Sugerencias</ion-label>
    </ion-list-header>
    
    <ion-item *ngFor="let idea of ideas"
              (click)="textoBuscar = idea" color="ligth">
      <ion-label color="theme">{{ idea }}</ion-label >
    </ion-item>

  </ion-list>


  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" *ngFor="let pelicula of peliculas">

        <ion-card (click)="detalle( pelicula.id )">
          <img [src]="pelicula.poster_path | imagen"               
               *ngIf="pelicula.poster_path">
               <img src="/assets/csaff-no-poster.jpg" 
               *ngIf="!pelicula.poster_path">
          
          <ion-card-header>
            <ion-card-subtitle> {{ pelicula.release_date }} </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <h2>{{ pelicula.title }}</h2>
          </ion-card-content>

        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
