/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.btns{
    --background: linear-gradient(135deg, var(--ion-color-theme), var(--ion-color-themelight));     
}

.precio{
    --background: linear-gradient(135deg, var(--ion-color-theme), var(--ion-color-themelight));
}

.head{
    --background: linear-gradient(135deg, var(--ion-color-theme), var(--ion-color-themelight));
  
}
.title{
    color: #ffffff;       
    font-size: x-large; 
    text-align: center;  
    margin-left: -45px;
}
.box{
    color: #19769F; 
    border: 2px solid;
    border-radius: 5px;     
}
.poster {
    width: 110px !important;
    height: 160px !important;
}
