<ion-header [translucent]="true">
  <ion-toolbar  class="head">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #ffffff;"></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="btns" shape="round">    
    <h3 align="center" style="color: rgb(250, 250, 246);"><b>Peliculas Nuevas</b></h3>
  </ion-card>  
  <app-slideshow-backdrop [peliculas]="peliculasRecientes"></app-slideshow-backdrop>

  <ion-card class="btns" shape="round">    
    <h3 align="center" style="color: rgb(250, 250, 246);"><b>Cartelera</b></h3>
  </ion-card>  

    <app-slideshow-poster [peliculas]="peliculasRecientes"></app-slideshow-poster>
  
    <ion-card class="btns" shape="round">    
      <h3 align="center" style="color: rgb(250, 250, 246);"><b>Populares</b></h3>
    </ion-card>   
    
    <app-slideshow-pares [peliculas]="populares"
                          (cargarMas)="cargarMas()"></app-slideshow-pares>

</ion-content>
